{% extends "_rc_base.html" %}

{% block announce %}
  The App Connect 2.0 <a href="https://community.ringcentral.com/app-connect-22/app-connect-2-0-is-right-around-the-corner-12077">release candidate</a> is almost here! <a href="{{ config.site_url }}2.0/" class="upgrade-button">Try it out</a>
{% endblock %}

{% block extrahead %}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ config.site_url }}img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ config.site_url }}img/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ config.site_url }}img/apple-touch-icon.png">
{% endblock %}
