*/node_modules/
*/dist/
node_modules/*
package-lock.json
site/

*.env
*.sqlite
env.yml
serverless.yml
*~
**/.#*
**/#*

**/.DS_Store
/server/*
serverless-deploy/*
serverless-deploy-test/*
client/dist.zip
client/src/manifest.json
/test.js
/devFlow.puml
/devGuideDraft.md
/build/*
/src/test.js
/.vscode/settings.json
.dynamodb/shared-local-instance.db

local.session.sql
