*/node_modules/
*/dist/
node_modules/*
package-lock.json
site/

*.env
*.sqlite
env.yml
serverless.yml
*~
**/.#*

/server/*
serverless-deploy/*
client/dist.zip
client/src/config.json
/test.js
/devFlow.puml
/devGuideDraft.md
