*/node_modules/
*/dist/
node_modules/*
node_modules
site/
coverage/

*.env
*.sqlite
env.yml
serverless.yml
*~
**/.#*
**/#*

**/.DS_Store
/server/*
serverless-deploy/*
serverless-deploy-test/*
serverless-deploy-test-beta/*
client/dist.zip
client/src/manifest.json
/test.js
/devFlow.puml
/devGuideDraft.md
/build/*
/src/test.js
/.vscode/settings.json
.dynamodb/shared-local-instance.db

local.session.sql
/minio.exe
/data/*
scripts/mkdocs/hooks/__pycache__/shortcodes.cpython-314.pyc