# Project information
site_name: App Connect for RingEX
site_url: https://appconnect.labs.ringcentral.com

# Repository
#repo_url: https://github.com/ringcentral/rc-unified-crm-extension
#repo_name: ringcentral/rc-unified-crm-extension
edit_uri: https://github.com/ringcentral/rc-unified-crm-extension/tree/master/docs
docs_dir: docs

theme:
  name: material
  logo: img/RingCentral_logo_color.png
  custom_dir: overrides
  font:
    code: Roboto Mono
    text: Inter Tight
  features:
      - navigation.path
      - navigation.sections
      - navigation.expand
      - navigation.tabs
      - search.sharing
      - search.highlight
  palette:
    - scheme: default
      primary: custom
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - badges
  - exclude:
      regex:
        - '^\.#.*'
        - '.*\.\#.*$'
hooks:
  - scripts/mkdocs/hooks/shortcodes.py

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ringcentral
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ringcentraldevs
extra_css:
  - extra.css
extra_javascript:
  - extra.js

#plugins:
#  pdf-export:
#    combined: true

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - mdx_include
  - pymdownx.superfences
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
       emoji_index: !!python/name:material.extensions.emoji.twemoji 
       emoji_generator: !!python/name:material.extensions.emoji.to_svg

copyright: "2023-2025 RingCentral, Inc. All rights reserved."

nav:
- 'Home': index.md
- 'Installation': getting-started.md
- 'Supported CRMs':
   - 'Overview': crm/index.md
   - 'Bullhorn': crm/bullhorn.md
   - 'Clio': crm/clio.md
   - 'Freshdesk': crm/freshdesk.md
   - 'GoHighLevel': crm/gohighlevel.md
   - 'Google Sheets': crm/google-sheets.md
   - 'Insightly': crm/insightly.md
   - 'NetSuite': crm/netsuite.md
   - 'Pipedrive': crm/pipedrive.md
   - 'Redtail CRM': crm/redtail.md
   - 'ServiceNow': crm/servicenow.md
- 'User guide':
  - 'Using App Connect': 
    - 'Accessing App Connect': users/access.md
    - 'Click-to-dial': users/making-calls.md
    - 'Screen-pop': users/screen-pop.md
    - 'AI Assistant': users/ai.md
    - 'Sending SMS': users/sms.md
    - 'Metrics and reports': users/user-report.md
    - 'Presence and status': users/presence.md
    - 'Call park and queue monitoring (2.0)': users/hud.md
    - 'Call-down lists (2.0)': users/calldown-lists.md
    - 'Voicemail drop (2.0)': users/voicemail-drop.md
  - 'Call Logging':
    - 'Logging overview': users/logging.md
    - 'Resolving logging conflicts': users/logging-conflicts.md
    - 'Logging calls automatically': users/automatic-logging.md
    - 'Call log prompts': users/prompts.md
  - 'Administration':
    - 'Becoming an admin': users/admin.md
    - 'Managed settings': users/managed-settings.md
    - 'Server-side call logging': users/server-side-logging.md
    - 'AI Conversation Expert (ACE) logging': users/ace.md
  - 'User settings':
    - 'Overview': users/settings-sync.md
    - 'Audio input/output': users/audio.md
    - 'Phone number formats': users/phone-number-formats.md
    - 'Preferred device': users/preferred-device.md
    - 'Region': users/region.md
    - 'Appearance': users/appearance-setting.md
    - 'Advanced options':
      - 'Developer options': users/developer-options.md
      - 'Browser options': users/extension-options.md

- 'Developer guide':
  - 'Introduction': developers/index.md
  - 'Getting started': developers/getting-started.md
  - 'Developer Console': https://appconnect.labs.ringcentral.com/console
  - 'Is your CRM compatible?': developers/proprietary-crm.md
  - 'Connector': 
    - 'Authorization': developers/auth.md
    - 'Manifest':
      - 'Manifest properties': developers/manifest.md
      - 'Customizing pages': developers/manifest-pages.md
      - 'Custom settings': developers/custom-settings.md
      - 'Regional services': developers/regional-services.md
      - 'Sample manifest': https://github.com/ringcentral/rc-unified-crm-extension/blob/main/src/connectors/manifest.json
    - 'Server': 
      - 'Build and deployment': developers/deploy.md
      - 'Contact matching': developers/contact-matching.md
      - 'Logging phone calls': developers/logging-calls.md
      - 'Logging SMS': developers/logging-sms.md
      - 'Placeholder contacts': developers/placeholder-contacts.md
      - 'Viewing contacts and activities': developers/view-details.md
      - 'Returning errors': developers/errors.md
    - 'Interfaces':
      - 'Overview': developers/interfaces/index.md
      - 'createCallLog': developers/interfaces/createCallLog.md
      - 'createMessageLog': developers/interfaces/createMessageLog.md
      - 'createContact': developers/interfaces/createContact.md
      - 'getAuthType': developers/interfaces/getAuthType.md
      - 'getBasicAuth': developers/interfaces/getBasicAuth.md
      - 'getCallLog': developers/interfaces/getCallLog.md
      - 'getLicenseStatus': developers/interfaces/getLicenseStatus.md
      - 'getLogFormatType': developers/interfaces/getLogFormatType.md
      - 'getOauthInfo': developers/interfaces/getOauthInfo.md
      - 'getUserInfo': developers/interfaces/getUserInfo.md
      - 'getUserList': developers/interfaces/getUserList.md
      - 'findContact (by phone)': developers/interfaces/findContact.md
      - 'findContactWithName': developers/interfaces/findContactWithName.md
      - 'unAuthorize': developers/interfaces/unAuthorize.md
      - 'updateCallLog': developers/interfaces/updateCallLog.md
      - 'updateMessageLog': developers/interfaces/updateMessageLog.md
      - 'upsertCallDisposition': developers/interfaces/upsertCallDisposition.md

- 'App Connect 2.0 Beta':
  - "What's new": 2.0/index.md
  - 'Download': 2.0/download.md
  - 'New CRMs': 
    - 'RecruiterPM': crm/recruiterpm.md
    - 'Service Titan': crm/servicetitan.md
    - 'Smokeball': crm/smokeball.md
    - 'Zoho': crm/zoho.md
  - 'Developers': 
    - 'Connector migration guide': 2.0/migration.md
    - 'Proxy connector (new)': developers/proxy-connector.md

- 'Support':
  - 'Troubleshooting': support.md
  - 'Submitting bug reports': collect-logs.md
  - 'Build a CRM connector': build.md
  - 'Data sharing': data-sharing.md
  - 'Release notes': release-notes.md
