.float-left { float: left; }
.float-right { float: right; }
.md-typeset img.mw-100 {
    max-width: 100px;
}
.md-typeset img.mw-200 {
    max-width: 200px;
}
.md-typeset img.mw-250 {
    max-width: 250px;
}
.md-typeset img.mw-300 {
    max-width: 300px;
}
.md-typeset img.mw-400 {
    max-width: 400px;
}
.md-typeset img.mw-500 {
    max-width: 500px;
}
.md-typeset img.mw-600 {
    max-width: 600px;
}
#oauth-parameters + .md-typeset__scrollwrap table th:first-of-type,
#platform-configuration + p + p + .md-typeset__scrollwrap table th:first-of-type,
#getuserinfo + p + .md-typeset__scrollwrap table th:first-of-type,
#return-values + .md-typeset__scrollwrap table th:first-of-type,
#return-values + p + .md-typeset__scrollwrap table th:first-of-type,
#request-parameters + .md-typeset__scrollwrap table th:first-of-type,
#input-parameters + .md-typeset__scrollwrap table th:first-of-type {
    width: 250px;
}
.crm-logo {
    max-width: 200px;
    max-height: 100px;
    display: block;
    margin-bottom: 15px;
}
.md-typeset a {
    color: #066fac
}
.md-typeset a:hover {
    color: #066fac;
    text-decoration: underline;
}
.download-button {
    color: #CCC !important;
    border-radius: 10px !important;
}
.md-main {
    padding-bottom: 50px
}
#powered-by-embeddable .admonition {
    font-size: 0.8rem;
}
:root {
    --md-primary-fg-color: #002755;
}
