name: CI Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  server-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node and npm
        uses: actions/setup-node@v2
        with:
          node-version: '20'
          registry-url: https://registry.npmjs.org/
      - run: echo "Start"
      - run: npm i
      - run: npm run test-coverage
      - name: Coveralls
        uses: coverallsapp/github-action@v2
